@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Kanit&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel', serif;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
/* CSS for fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

body{
    
    margin: 0px;
    padding: 0px;
    background: #ffffff;
}
.outer{
    width: 100%;
    height: auto;
    background-color:black;

}
.navigation{
    width: 100%;
    height: 45px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.671);
    gap: 40px;
    z-index: 1;
}
li a{
    color: white;
    padding: 5px 10px;
    font-size: large;
}

li :hover{
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 8px white;
  transition: ease-out 0.4s;

}
.navitem{
    list-style: none;
    padding: 5px 0px;
    
}
#Menubar, #closebtn{
  display: none;
}
.navlink{
    text-decoration: none;
}
contant{
    width: 100%;
    background: url(homebg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.textone{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size:40px;
    overflow: hidden;
    font-weight: bold;
    column-gap: 20px;
    background: transparent;
    color: white;
    
}
pre{
    overflow: hidden;
}
pre span{
    color: red;
}
.homebtnn{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 45%;
    align-items: center;
    display: flex;
    gap: 20px;
}
.homebtnn button{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    transition: 0.3s ease;
}

pre{
    transform: translate(-20%,20%);

}
.homeimg{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    animation: moveUpDown 4s ease-in-out infinite;

}

@keyframes moveUpDown {
    0%, 100% {
      transform: translate(-0%, -0%) translateY(0);
    }
    50% {
      transform: translate(-0%, -0%) translateY(-50px);
    }
  }

  .Title{
    color: red;
    background: #fff;
    font-weight: bold;
    font-size: 45px;
    padding: 50px 0px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'PT Serif', serif;
  }
  .about{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    
  }
  .abt-img{
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    
   }
   .abt-img img{
    width: 100%;
   }

  .abt-txt{
    color: rgb(0, 0, 39);
    background-color: #ffff;
    display: flex;
    width: 40%;
    height: 70%;
    font-size: large;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;

    box-shadow: 4px 4px 6px  rgba(255, 255, 255, 0.486);
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'PT Serif', serif;
  }
  .ETitle{
    color: white;
    background: blueviolet;
    font-size: 45px;
    padding: 50px 0px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'PT Serif', serif;
  }
  .Education{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: blueviolet;
    align-items: center;
    
  }
  .edu-one{
    width: 60%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    align-items: center;
  }
  .edu-two{
    width: 30%;
    height: 80%;
    overflow: hidden;
    align-items: center;

  }
  .edu-two img{
    width: 100%;
    margin-top: 20%;
    height: auto;
  }
.edu-txt{
  width: 100%;
  height: auto;
  background-color: rgb(218, 218, 218);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px 0px;
  color: white;
  font-weight: bold;
}
.edu-txt:hover,.skillsname :hover{
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
  transition: ease-out 0.4s;

}
.icon-div{
  width: 10%;
  height: 30%;
  align-items: center;
  text-align: center;
  color: red;

}
.Ins-div span{
  font-size: x-large;
  color: rgb(15, 165, 15);
}
.Ins-div{
  width: 80%;
  height: 30%;
  padding: 8px;
  border-radius: 10px;
  background-color: #fff;
  color: rgb(2, 2, 51);

}

.skill-Title{
    color:rgb(255, 0, 0);
    background-color: #fff;
    font-size: 45px;
    font-weight: bold;
    padding: 50px 0px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'PT Serif', serif;

}

  .Outerarea{
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
.skillsname{
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.skills-txt{
    width: 80%;
    height: 20%;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    color: #fff;
    align-items: center;
    border-radius: 20px;
    background: blueviolet;
}
.skill-img{
    padding: 50px 0px;
    width: 35%;
    align-items: center;
}
.skill-img img{
  margin-left: 10%;
}
.skills-notes{
    width: 80%;

    color: rgb(0, 0, 0);
    text-align: center;
    font-size: x-large;
    padding: 20px 0px;
}
.btn-link{
    color: #fff;
    border: none;
    outline: none;
    font-size: x-large;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
    background: rgb(2, 2, 75);
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    transition: 0.3s ease;
}

.project-out{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    background-color: rgb(2, 2, 75);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards{
  width: 20%;
  height: max-content;
  justify-content: space-around;
  border: 2px solid black;
  background-color: #e5ecfb;
  border-radius: 10px;

}
.pro-btn{
  padding: 5px 10px;
  font-size: x-large;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
.pro-btn:hover{
  box-shadow: 0px 0px 8px white;
  transition: ease-out 0.4s;

}
.card-text{
  padding: 0px 0px;
  font-size: medium;
  line-height: 20px;
  text-align: justify;
  padding: 5px 5px;

  font-family: 'Times New Roman';
}

.card-title{
    color: orangered;
    font-family: 'Cinzel', serif;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
}
.btn-pro{
  width: max-content;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  padding: 5px 8px;
  margin-left: 10%;
  margin-top: -30%;
  color: white; 
}
.probtn-div{
  width: 40%;
  padding: 20px 0px;
  height: auto;
  text-align: center;
}
.btn-primary{
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 20px;
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px ;
  transition: 0.3s ease;
  color: white;
  text-decoration: none;
  margin-left: 25px;
}
.contact {
    background: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .heading{
    text-align: center;
    color: rgb(1, 1, 97);
    padding: 30xp 0px;
    font-weight: bold;
    font-size: 30px;
  }
  .contact .container {

    width: 100%;
    height: max-content;
    background: blueviolet;
    border-radius: 1.5rem;
    align-items: center;
    box-shadow: 0 0px 10px rgba(248, 236, 236, 0.534);

 
  }
  .contact .container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2.5rem;
  }
  .contact .content .image-box {
    max-width: 60%;
    margin-left: 4rem;
  }
  .contact .content .image-box img {
    width: 100%;
    height: 30rem;
    position: relative;
    overflow: hidden;
  }
  .contact .content form {
    width: 45%;
    margin-right: 3.5rem;
  }
  form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-group .field {
    height: 50px;
    display: flex;
    position: relative;
    margin: 1rem;
    width: 100%;
  }
  form i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: rgb(51, 51, 51);
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
  }
  form .field input,
  form .message textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 16px 0 48px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    background: #e5ecfb;
  }
  .field input::placeholder,
  .message textarea::placeholder {
    color: rgb(51, 51, 51);
  }
  .field input:focus,
  .message textarea:focus {
    padding-left: 47px;
    border: 2px solid rgb(115, 3, 167);
  }
  .field input:focus ~ i,
  .message textarea:focus ~ i {
    color: rgb(115, 3, 167);
  }
  form .message {
    position: relative;
    margin: 1rem;
    width: 100%;
  }
  form .message i {
    top: 25px;
    font-size: 20px;
    left: 15px;
  }
  form .message textarea {
    min-height: 130px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
    padding: 12px 20px 0 48px;
  }
  form .message textarea::-webkit-scrollbar {
    width: 0px;
  }
  form .button-area {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .button-area button {
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    transition: 0.3s ease;
  }
  .button-area button:hover {
    background: #421cecf5;
  }
  .button-area span {
    font-size: 17px;
    padding: 1rem;
    display: none;
  }
  .button-area button i {
    position: relative;
    top: 6px;
    left: 2px;
    font-size: large;
    transition: 0.3s;
    color: #fff;
  }
  .button-area button:hover i {
    left: 8px;
  }
  .socilmedia{
    width: 100%;
    height: 30vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .scl-one a{
    text-decoration: none;
    color: rgb(1, 1, 54);
    font-size: large;
  }
  .scl-one{
    width: 35%;
    height: auto;
    background-color:white;
    border-radius: 7px;
  justify-content: space-around;
  text-align: center;
    display: flex;

  }
  .scl-two{
    width: 40%;
    height: 30%;
    background-color:white;
    align-items: center;
    border-radius: 7px;
    justify-content: space-around;
    display: flex;
  }
  .sl-link{

    padding: 10px;
   border-radius: 50%;
  }
  .sl-link:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.616) ;

  }
  .follow{
    background: #fcfcfc;
    color: red;
    text-align: center;
    font: bold;
    font-size: x-large;
    font-weight: bold;
    padding-top: 10px ;
  }
 .final{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
 }









@media only screen and (max-width : 700px) {
    
    *{
    width: 100%;
    
    }
   
    .menu-div{

      width: 100%;
      height: 20px;
      align-items: center;
      position: fixed;

      display: inline;
      float: right;
      z-index: 2;

    }

    .menu-btn {
      margin-right: 5%;
      margin-top: 5%;
      float: right;
      border: none;
      width: max-content;
       background-color: rgba(0, 0, 0, 0.712);
    }
    .menu-div .button i{
      background-color: black;
    }
    .close-menu{
     text-align: left;
     width: 100%;
     background-color:transparent ;
     border: none;
    }
    .open-menu{
      text-align: center;
    }
    .outer{
        display: block;
    }
    .navigation{
        width: 100%;
        height: 100%;
        margin-right: 0px;
        display: none;
        transition: 0.3s ease-out;
        flex-wrap: wrap;
        justify-content:space-around;
        gap: 10px;
        align-items: center;
        background-color: #0e0d0da8;

    }
    .navitem{
        width: 90%;
        height: max-content;
        align-items: center;
        text-align: center;
        transition-delay:5s  ;
    }

    li a{
      font-size: x-large;
      font-weight: bold;
    }
    contant{
       width: 100%;
       height: 100vh;
       display: flex;
       flex-direction: column-reverse;
       justify-content: space-evenly;
       align-items: center;
      
}
.homebtnn button{
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 20px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  
}


      .homebtnn{
        margin-top: 10%;
      }
    .textone{
      margin-top: 0%;
        width: 100%;
        height: max-content;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size:35px;
        font-weight: bold;
        background: transparent;
        color: white;

    } 
    .homeimg{
        position: absolute;
        width: 100%;
        height: max-content;
        margin-top: -50%;
        animation: moveUpDown 4s ease-in-out infinite;
    
    }
   .textarea{
    margin-top:20%;
    width:max-content;
    height: max-content;
   }
   .about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
   .abt-img{
    width: 70%;
    height: auto;
    
    
}
.abt-img img{
    width: 100%;
}
.Title{
  width: 100%;
  color: black;
  padding: none;
}
  .abt-txt{
    color: rgb(2, 2, 51);
    width: 80%;
    font-size: large;
    padding: 30px 10px;
  }
  .ETitle{
    width: 100%;
    color: white;
    padding: none;
    font-weight: bold;
    background-color: #100057;
  }
  .Education{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #100057;
  }
.edu-one{
  width:100% ;
  height: auto;
  display: flex;
  column-gap: 10%;
  padding: 30px 0px;
}
.icon-div{
  width: 10%;
  height: 10%;
  padding: 0%;
  display: none;

}
.Ins-div{
  width: 80%;
  font-size: medium;
  font-weight: lighter;
}
.Ins-div span{
  font-size: large;
  font-weight: bold;
}

.edu-txt{
  width: 100%;
  background-color: transparent;
}
.edu-txt:hover{
  box-shadow: none;
}
  .edu-two{
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .edu-two img{
    width: 70%;
  }
  .skills-txt{
    width: 150px;
    height: 50px;
    padding-right:10px ;
    font-size: medium;
    font-weight: normal;
    border-radius: 0px;
    background-color: rgb(0, 0, 80);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
  }
  .skillsname{
    width: 40%;
    align-items: center;
  }
  .skills,.Outerarea{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
  }
  .skill-img{
    display: none;
  }
  .btn-link{
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 10px;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    transition: 0.3s ease;
  }
  .pro-box{
    width: 100%;
    height: max-content;
    transition: 0.3s ease;
    box-shadow: 0px 5px 10px rgba(247, 48, 48, 0.6);
  }
  .cards{
    width: 80%;
    height: max-content;
    padding: 20px 0px;
  }
  .probtn-div{
    padding: 30px 0px;
  }
  .btn-pro{
    width: max-content;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    transition: 0.3s ease;
    padding: 6px 10px;
    margin: 10%;
    color: white; 
}

  .contact {
    height: max-content;
    width: 100%;
    align-items: center;

  }
  .contact .container {
    width: 90%;
    height: max-content;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #100057;
  }
  .contact .container .content {
    padding: 18px 12px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
  .fbutton{
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 5px;
    background: #787196;
    box-shadow: 0px 0px 5px 0px rgba(48, 68, 247, 0.6);
    transition: 0.3s ease;
  }
  .button-area{
    padding: none;
    background-color: #e5ecfb;
  }
  
.socilmedia{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: max-content;
}
.scl-one{
  width: 100%;
  padding: 10px 0px;
}
.scl-two{
  width: 100%;
  height: auto;
  display: inline;
}
.sl-link{
  width: 10%;
}
}
